@charset "utf-8";
/* CSS Document */
.html {font-size:.625rem;/*10 ÷ 16 × 100% = 62.5%*/height:100%;}
body{color:#333;font-family:"微软雅黑",tahoma;background:#f1f1f1;-webkit-overflow-scrolling:touch;height:100%; min-width:320px;}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal;}
fieldset,img{border:0; padding:0px; margin:0px;line-height:0;font-size:0;}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
input[type=submit],input[type=reset],input[type=button],button{-webkit-appearance:none}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:0;margin:0;padding:0}
ul, ol{list-style:none;}
li {list-style-position:inside;}
img {max-width:100%;}
a{ text-decoration:none; color:#525252;}
a:hover{ color:#cc0001;}
/* 圆角效果 */
	.radius5{
	-moz-border-radius: 5px;      /* Gecko browsers */
	-webkit-border-radius: 5px;   /* Webkit browsers */
	border-radius:5px;
	}
	.radius10{
	-moz-border-radius: 10px;      /* Gecko browsers */
	-webkit-border-radius: 10px;   /* Webkit browsers */
	border-radius:10px;
	}
	.radius15{
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:15px;
	}
.flex{ 
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;/*自动换行*/
	  /*-webkit-flex-flow: row; 不换行*/
	  justify-content: space-around;
	}
.flex_in{-webkit-box-flex: 1;-moz-box-flex: 1;-ms-box-flex: 1;box-flex: 1;}
.flex-f-row{ -webkit-flex-flow: row;}
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
.fix:before,.fix:after{ content:""; display:table;}
.fix:after{ clear:both;}
.clear {clear:both;}


.page {width:88%;margin:0 auto;position: relative;background-color:#fff;margin-top:3rem;padding:2%;}

/*头部*/
header h1 {font-size:1.25rem;width:100%;color:#fff;font-weight:normal;width:100%;background-color:#3191e8;text-align:center;line-height:3rem;}


/*登录页*/
.entry {width:15%;position: absolute;top:-1.25rem;left:42%;}
.login_content form {margin-top:4rem;text-align:center;padding-bottom:4rem;}
.login_content form label {display:block;margin:1.25rem auto;width:90%;border:1px solid #e4e3e3;background-color:#f9f9f9;line-height:2rem;}
.login_content form label input {height:1.75rem;padding:5px;background:none;border:none;}
.login_name {width:100%;}
.login_content form .phone {border:1px solid #e4e3e3;text-align:left;}
.login_content form .phone span {text-align:left;margin:0 0.25rem;border-right:#c8c8c8 1px solid;padding-right:5%;color:#999;margin-left:0.4rem;}
.login_content form .phone input {width:70%;}
.btn {width:90%;background-color:#6db2f3;color:#fff;padding:0.5rem 0;margin:0 auto;border:none;margin-top:1rem;font-size:1.125rem;text-align:center;display:block;}
.btn02 {width:90%;background-color:#e56a6a;color:#fff;padding:0.5rem 0;margin:0 auto;border:none;margin-top:1rem;font-size:1.125rem;text-align:center;display:block;}


/*选择按钮页*/
.choose {background:none;margin-top:0;}
.choose .list li {margin:3rem auto;width:95%;}


/*选择时间订餐*/
.selected {margin-top:1rem;margin-bottom:1rem;}
.selected .year-month, .selected .week {background-color:#f3f3f3;padding:0.5rem 0;position: relative;font-size:0.875rem;}
.selected .year-month h2 {font-weight:normal;font-size:1.25rem;width:80%;text-align:center;margin:0 auto;line-height:2rem;color:#666;}
.selected .year-month a {display: block;position:absolute;top:0.75rem;width:4%;height:2rem;}
.selected .year-month a img {width:100%;}
.selected .year-month .left {left:2%;}
.selected .year-month .right {right:2%;}
.selected .week {padding-top:0;}
.selected .week li {float:left;width:14.2%;text-align:center;color:#888;}
.selected .day {margin-top:0.875rem;padding-bottom:1rem;}
.selected .day li {float:left;width:13.1%;margin:0.35rem 0.1rem;text-align:center;border-radius:100px;line-height:2.3rem;}
.selected .day li.front {color:#aeaeae;}
.selected .day li:hover, .selected .day li.on01 {background-color:#6db2f3;color:#fff;}
.selected .day li.on02 {background:url(../images/selected_list.png) no-repeat center center;background-size:100% 100%;color:#333;}
.bottom .list li {width:90%;margin:1rem auto;}


/*订餐成功*/
.shade {position: absolute;width:100%;height:100%;background-color:rgba(000, 000, 000, 0.6);z-index:100;top:0;left:0;}
.shade .succes {width:88%;margin:2rem auto;background-color:#fff;padding:2%;padding-bottom:6%;}
.shade .succes .succes_img {width:80%;margin:1rem auto;display:block;}
.shade .succes p.content {width:80%;margin:0 auto;font-size:0.875rem;line-height:1.75rem;}
.shade .succes p.content span {font-weight:bold;font-size:1rem;}


/*取消订餐*/
.cancel {padding:2rem 0;margin-top:0.75rem;width:95%;font-size:1rem;text-align:center;}
.cancel .start, .cancel .finish {width:92%;margin:1rem auto;}
.cancel .time {width:63%;line-height:1.25rem;padding:2%;color:#666;background-color:#f9f9f9;border:0.1rem solid #d9d9d9;}
.cancel .title {color:#666;margin-right:2%;}
.hint {color:#cdcbcb;display:block;width:92%;margin:2rem auto;}



@media (min-width: 340px){.selected .day li {line-height:2.4rem;}}
@media (min-width: 360px){.selected .day li {line-height:2.69rem;}}
@media (min-width: 400px){.selected .day li {line-height:3rem;}}
@media (min-width: 440px){.selected .day li {line-height:3.2rem;}}

@media (min-width: 460px){
	.login_content form {margin-top:5rem;}
	.btn, .btn02 {font-size:1.25rem;padding:0.7rem 0;}
	.login_content form label input {padding:10px;}
	.entry {width:13%;left:43%;top:-1.5rem;}
	.choose .list li {margin:5rem auto;}
	header h1 {font-size:1.5rem;line-height:4rem;}
	.selected .year-month a {width:3%;top:1rem;}
	.selected .year-month {padding-top:0.75rem;}
	.selected .year-month h2 {font-size:1.5rem;}
	.selected .week {font-size:1.125rem;padding-top:0.75rem;}
	.selected .day li {line-height:3.2rem;width:12.5%;margin:0.35rem 0.22rem;font-size:1.125rem;}
	.bottom .list li {width:80%;margin:1.5rem auto;}
	.shade .succes p.content {font-size:1rem;line-height:2.25rem;margin-top:2rem;}
	.shade .succes p.content span, .cancel {font-size:1.125rem;}
	div.lq-datetimepick {width:88%;}
	div.select-datetime dl.datetime-day dt, div.select-datetime dl.datetime-day dd {height:2rem;line-height:2rem;}
	div.select-datetime dl dd em, div.select-datetime dl.datetime-day dt span, div.selectul ul li {font-size:1rem;}
	div.select-datetime dl.datetime-day {margin-bottom:4rem;}
 }
@media (min-width: 480px){ .selected .day li {line-height:3.35rem;}}
@media (min-width: 520px){ .selected .day li {line-height:3.6rem;margin:0.35rem 0.24rem;}}
@media (min-width: 540px){
	header h1 {font-size:1.625rem;line-height:4rem;}
 	.entry {width:12%;left:43%;}
 	.btn, .btn02 {font-size:1.5rem;padding:1rem 0;}
 	.login_content {margin-top:4rem;}
	.choose .list li {margin:6rem auto;width:90%;}
	.selected .year-month {padding-top:0.875rem;}
	.selected .year-month a {width:3.4%;top:1rem;}
	.selected .year-month h2 {font-size:1.625rem;}
	.selected .week {font-size:1.25rem;padding-top:1rem;}
	.selected .day li {line-height:3.8rem;margin:0.35rem 0.26rem;font-size:1.25rem;}
	.shade .succes p.content {font-size:1.125rem;line-height:2.5rem;}
	.shade .succes p.content span, .cancel, div.selectul ul li {font-size:1.25rem;}
	div.lq-datetimepick {width:89%;}
	div.select-datetime dl.datetime-day dt, div.select-datetime dl.datetime-day dd {height:2.5rem;line-height:2.5rem;}
	div.select-datetime dl dd em, div.select-datetime dl.datetime-day dt span, div.datetime-select {font-size:1.25rem;}
	div.select-datetime dl.datetime-day {margin-bottom:5rem;}
	div.datetime-select {padding-bottom:3rem;}
	div.selectfocus {line-height:3rem;}
	div.selectfocus em {background-position: right 0.75rem;}
	.cancel .start, .cancel .finish {margin:1.5rem auto;}
	.hint {margin:3rem auto;}
 }
@media (min-width: 560px){ .selected .day li {line-height:3.96rem;margin:0.35rem 0.26rem;}}
@media (min-width: 600px){ .selected .day li {line-height:4rem;width:12%;margin:0.35rem 0.36rem;}.selected .year-month a {width:2.8%;top:1.125rem;}}
@media (min-width: 640px){
 	.entry {width:11%;left:44%;top:-1.75rem;}
	.login_content form {margin-top:6rem;font-size:1.125rem;}
	.login_content form .phone span {margin-left:1rem;}
	.selected .year-month {padding-top:1.125rem;padding-bottom:1rem;}
	.selected .year-month h2 {font-size:1.875rem;}
	.selected .week {font-size:1.5rem;}
	.selected .day li {line-height:4.2rem;font-size:1.5rem;margin:0.35rem 0.4rem;}
	.bottom .list li {width:70%;margin:3rem auto;}
	div.select-datetime dl.datetime-day dt, div.select-datetime dl.datetime-day dd {height:3.5rem;line-height:3.5rem;}
	div.selectul ul {margin-top:1.5rem;}
	div.selectul ul li {line-height:2.25rem;}

 }
@media (min-width: 660px){ .selected .day li {line-height:4.4rem;}}
@media (min-width: 680px){ .selected .day li {line-height:4.6rem;margin:0.35rem 0.42rem;}}
@media (min-width: 720px){
 	.entry {width:10%;left:46%;top:-2rem;}
 	header h1 {font-size:2rem;line-height:5rem;}
	.choose .list li {margin:8rem auto;}
	.selected .day li {line-height:4.9rem;font-size:1.625rem;margin:0.35rem 0.45rem;}
	.shade .succes p.content {font-size:1.25rem;line-height:3rem;margin:3rem auto;}
	.shade .succes p.content span, div.select-datetime dl.datetime-day dt span, div.select-datetime dl.datetime-day dd em, div.selectul ul li, .selectfocus em  {font-size:1.5rem;}
	.cancel {font-size:1.75rem;}
	.cancel .start, .cancel .finish {margin:2rem auto;}
	.hint {margin:4rem auto;}
	div.lq-datetimepick {width:89.5%;}
	div.selectul ul li {line-height:3rem;}
	div.selectfocus {line-height:3.625rem;}
	div.selectfocus em {background-position: right 1rem;}
	.bottom .list li {width:80%;margin:3.5rem auto;}
	div.select-datetime dl.datetime-day dt, div.select-datetime dl.datetime-day dd {height:4rem;line-height:4rem;}
 }

 @media (min-width: 760px){ .selected .day li {line-height:5.2rem;}}

